/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #8ecae6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.price-table {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.tier {
    border-bottom: 1px solid #e1f1ff;
}

.tier:last-child {
    border-bottom: none;
}

.price-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.tierTitle {
    color: #888;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}

.info {
    color: #219ebc;
    margin: 50px 0 25px;
}

.details {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.75em;
    border-top: 1px solid #e1f1ff;
    line-height: 1.5;
    padding: 15px 0;
}

.details:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.price {
    color: #219ebc;
    display: block;
    font-weight: 700;
    font-size: 2em;
    margin: 25px 0;
}

.price-btn {
    border: 1px solid #8ecae6;
    border-radius: 10px;
    color: #457b9d;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 200ms ease-in-out;
    margin-bottom: 25px;
}

.price-btn:hover,
.price-btn:focus {
    background-color: #e1f1ff;
}

.price-btn.featured {
    background-color: #219ebc;
    color: white;
}

.price-btn.featured:hover,
.price-btn.featured:focus {
    background-color: #2294b1;
    color: white;
}

@media (min-width: 900px) {
    .price-table {
        flex-direction: row;
    }

    .tier {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }

    .tier:last-child {
        border-right: none;
    }
}